@import "reset.css";
@import "toggler.css";
@import url('https://fonts.googleapis.com/css?family=Sarabun:400,600');


body {
    font-family: 'Sarabun', sans-serif;
}

.container {
    width: 1180px;
    position: relative;
}

main {
    width: 714px;
    margin: auto;
}

/* ------------------------------------------------------
-------------------------------------------rastro de migas*/
.breadcrumbs {
    margin-bottom: 71px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.breadcrumbs li {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #dde3e8;
    text-align: center;
    display: inline-block;
    border-bottom: 1px #d4d9dd solid;
}

.breadcrumbs li[aria-current] {
    color: black;
    border-bottom: 1px solid black;
}

/* ------------------------------------------------------
--------------------------------------------CHECKOUT 01*/
.data {
    padding: auto;
}

.data__heading {
    font-size: 24px;
    color: #1b2125;
}

.data__label {
    font-weight: 600;
    font-size: 12px;
    color: #d4d9dd;
    display: block;
}

.data__control {
    border: 1px solid #dde3e8;
    background-color: #fff;
    width: 350px;
    height: 54px;
    display: block;
}

.data__control--code {
    width: 274px;
    float: left;
}

.data__control--code::after {
    content: "";
    display: inline-block;
    clear: both;
}

.data__control:focus {
    border-color: #71b6ef;
}

.data__control--wider{
    min-width: 714px;
}

.name, .country-city, .code-phone{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.address {
   margin: auto;
    width: 100%;
}

.button {
    color: #fff;
    background-color: #0077e2;
    font-size: 14px;
    max-width: 250px;
    height: 54px;
    border-radius: 3px solid rgba(120, 137, 149, 0.26);
}

.data__button {
    width: 76px;
    height: 54px;
    color: #0095f8;
    border: 1px solid #dde3e8;
    background-color: #fff;
}

.link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #788995;
}

/* ------------------------------------------------------
--------------------------------------------carrito*/

.cart {
    background-color: #f8fafb;
    max-width: 390px;
    min-height: 100%;
    padding: 62px 50px 0 50px;
    position: absolute;
    right: 0;
    top: 0;
}

aside .data__heading {
    border-bottom: 1px solid #e4eaee;
    padding-bottom: 25px;
}

.cart__products {
    list-style: none;
}

.cart__products li:first-child {
    margin-top: 46px;
    margin-bottom: 21px;
}


.cart__products__link {
    text-decoration: none;
    max-width: 179px;
    color: #788995;
    font-size: 16px;
    margin-bottom: 21px;
}

.cart__products li {
    min-height: 100px;
}


.cart__products__link__img {
    float: left;
    margin-right: 25px;
}

.cart__products__link__price {
    font-weight: 600;
    font-size: 14px;
    display: block;
}

.cart__products::after {
    content: "";
    display: inline-block;
    clear: both;
}


.cart__voucher-container {
    border-bottom: 1px solid #e4eaee;
    border-top: 1px solid #e4eaee;
    border-left: 0px;;
    border-right: 0px;
}


.button__triangle-down {
    background-color: #f8fafb;
    color: #1b2125;
    font-size: 14px;
    padding: 13px 0 17px 0;
    border: none;
}

.lnr-chevron-down {
    color: #1b2125;
    width: 7px;
    height: 7px;
  }


.total > tr > th {
    color: #788995;
    font-size: 14px;
}


